---
layout: default
---

<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}


  <style>
    @keyframes ticker {
      0% { transform: translate3d(0, 0, 0); }
      100% { transform: translate3d(-100%, 0, 0); }
    }
    .tcontainer{
      width: 100%;
      overflow: hidden;
    }
    .ticker-wrap {
      width: 100%;
      padding-left: 100%;
      background-color: #eee;
    }
    .ticker-move {
      display: inline-block;
      white-space: nowrap;
      padding-right: 100%;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: ticker;
      animation-duration: 35s;
    }
    .ticker-move:hover{
      animation-play-state: paused;
    }
    .ticker-item{
      display: inline-block;
      padding: 0 2rem;
    }

  </style>
  </head>
  <body>
    <div class="tcontainer">
      <div class="ticker-wrap">
        <div class="ticker-move">
          <div class="ticker-item">Facebook 193.7738 +6.13%</div>
          <div class="ticker-item">Apple 205.34 -0.88% </div>
          <div class="ticker-item">Amazon 1904.12 +0.12%</div>
          <div class="ticker-item">Netflix 368.4697 -1.54%</div>
          <div class="ticker-item">Alphabet 1260.98 +0.07%</div>
          <div class="ticker-item">Pepsico 126.24 -0.54%</div>
          <div class="ticker-item">                            </div>
        </div>
      </div>
    </div>
  </body>
